streamlit
langchain
PyPDF2
huggingface-hub
openai
transformers
sentence-transformers
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-core
python-dotenv
faiss-cpu